@font-face {
font-family: 'Baskerville Normal';
font-style: normal;
font-weight: normal;
src: local('Baskerville Normal'), url('baskvl.woff') format('woff'), url('baskvl.ttf') format('truetype');
}

/* @font-face {
font-family: 'Baskerville Light-Italic';
font-style: normal;
font-weight: normal;
src: local('Baskerville Light-Italic'), url('BASKE10.woff') format('woff'), url() format('truetype');
}

@font-face {
font-family: 'Baskerville Light';
font-style: normal;
font-weight: normal;
src: local('Baskerville Light'), url('BASKE9.woff') format('woff'), url() format('truetype');
} */

@font-face {
font-family: 'Baskerville Bold';
font-style: normal;
font-weight: normal;
src: local('Baskerville Bold'), url('BASKE1.woff') format('woff'), url('BASKE1.ttf') format('truetype');
}

/*
@font-face {
font-family: 'Baskerville Bold';
font-style: normal;
font-weight: normal;
src: local('Baskerville Bold'), url('Baskerville Bold font.woff') format('woff');
} */
