<div class="row markrow" style="padding-top: 5em; padding-bottom: 5em">
  <div class="col-2 markcol">
    <img src="../assets/img/bigyoshi-navy-portrait.png" style="display: block; max-height:100%; max-width: 100%">
  </div>
  <div class="col-10 markcol">
    <h1 class="title">Big Yoshi, <span class="position">Executive Yoshi</span></h1>
    <h3 class="desc">Big Yoshi is the Executive Yoshi at My Media. He's a big ol' green guy. Yoshi! That's the sound he makes. Yeah, I mean, he's uh, he's sittin' there. Need the big one though. He also plays the saxophone.</h3>
  </div>
</div>

<style>
  .desc { font-size: 2.7em }
  .title { font-size: 3.7em }
  .position { font-family: Montserrat-R; font-size: inherit }
</style>
