<div class="row markrow" style="padding-top: 5em; padding-bottom: 5em">
  <div class="col-2 markcol">
    <img src="../assets/img/{{ include.name }}-portrait.png" style="display: block; max-height:100%; max-width: 100%">
  </div>
  <div class="col-10 markcol">
    <h1 class="title">{{ include.name }}, <span class="position">{{ include.title }}</span></h1>
    <h3 class="desc">{{ include.content }}</h3>
  </div>
</div>

<style>
  .desc { font-size: 2.7em }
  .title { font-size: 3.7em }
  .position { font-family: Montserrat-R; font-size: inherit }
</style>
