<!-- Header -->
<div style="padding-left: 6vw; padding-right: 6vw">
  <div class="row align-items-center justify-content-between" style="height:8em">
    <!-- logo -->
    <div class="col-2 header-logo" style="padding-top: .5rem; padding-bottom: .5rem">
      <img src="../assets/icon/LogoText.png" alt="">
    </div>

    <!-- hamburger -->
    <div class="col-10 mobile" style="z-index:5; text-align: right"><img src="../assets/icon/hamburger.png" class="header-hamburger" onclick="openNav()"></div>

    <!-- nav menu -->
    <div class="reg col-10 text-right" style="z-index: 20">
      <div id="menubar" style="display: inline">
        <div class="menubar">
          <button style="margin-left: 2vw" href="/">Home</button>
          <button style="margin-left: 2vw" href="/approach">What We Do</button>
          <button style="margin-left: 2vw" href="/about">About</button>
        </div>
      </div>
    </div>
  </div>
</div>
