<div class="container-fluid hide-mobile" style="background-color:var(--lred); padding-left:8vw; padding-right:8vw; min-height:600px; position:relative; z-index: 5">
  <div class="row" style="padding-top: 80px; margin-left:2vw; margin-right:2vw">
    <div class="col">
      <h1 class="w" id='footer-connect'>Get Involved!</h1>
    </div>
  </div>

  <div class="row justify-content-between" style="padding-top: 30px; margin-left:2vw; margin-right:2vw">
        <div class="col-6 under-involved">
          <h1 class="w">Subscribe to our newsletter:</h1>
          <h1 class="w">Become a Member</h1>
          <h1 class="w">Donate to our organization</h1>
          <h1 class="w">View our events calendar</h1>
        </div>

        <div class="col-3 footer-text">
          <h1 class="mb-5">Menu</h1>
          <h2>
              <a href="/">Home</a><br>
              <a href="/">Who We Are</a><br>
              <a href="/">Projects</a><br>
              <a href="/">Get Involved</a><br>
              <a href="/">Contact Us</a><br>
          </h2>
        </div>
        <div class="col-3 footer-text">
          <h1 class="mb-5">Projects</h1>
          <h2>
            <a href="/">Hotel Dieu</a><br>
            <a href="/">Royal Victoria</a><br>
            <a href="/">A nous le Plateau</a><br>
            <a href="/">Mutual Aid Network</a><br>
            <a href="/">Solidarity Economy</a><br>
            <a href="/">Ecology</a><br>
          </h2>
        </div>
  </div>
</div>

<style>
  .footer-text h2 { line-height: 2; color: white }
  .footer-text h1 { line-height: 2; color: white; font-weight: 600 }
  .footer-text a { line-height: 2; color: white; font-weight: normal; font-size: 1.4em }

  .under-involved * { line-height: 2; color: white; font-size: 4em; font-weight: 600 }

  #footer-connect { font-size: 7em; font-weight: 600 }
</style>
