<div class="col-xs-2 markcol mx-4">
  <a href="./index.html"><img src="../assets/img/logo-small-white.png" style="height: 4vw; min-height: 50px"></a>
</div>

<div class="col-xs-2 markcol mt-2 mx-4 show-mobile">
  <img src="../assets/img/hamburger-white.png" style="height: 4vw; min-height: 30px">
</div>

<div class="hide-mobile col-10 markcol text-right">
  <div id="menubar" style="display: inline">
    <div style="display:inline" id="work"><a class="menubar w" href="./portfolio.html">work</a></div>
    <div style="display:inline" id="about"><a class="menubar w" href="./about.html">about</a></div>
    <div style="display:inline" id="jobs"><a class="menubar w" href="./jobs.html">jobs</a></div>
    <div style="display:inline" id="contact"><a class="menubar w" href="./contact.html">contact</a></div>
  </div>
  <p class="menubar w" style="margin-right: 5.5vw">|</p>
  <a class="menubar w" style="margin-right: 0vw" href="./404.html">fr</a>
</div>



<script>
  document.getElementById("{{ include.button }}").innerHTML = "<p style='font-family: Montserrat-M; color: white; font-size: 25px; display: inline; margin-bottom: 0em; margin-right: 3vw'>{{ include.button }}<span style='color:var(--dblue); font-size: 40px; line-height: 0.5'>.</span></p>";
</script>
