<div class="row align-items-center justify-content-between" style="height:20em; margin-left:-4vw; margin-right:-4vw; position: relative; z-index: 5">
      <div class="col-xs-2 mx-4">
        <a href="/"><img src="../assets/icons/logo.png" style="height: 5vw; min-height: 40px; background-color:transparent"></a>
      </div>

      <div class="col-xs-2 mt-2 mx-4 show-mobile" style="z-index:5">
        <img src="../assets/icons/hamburger.png" style="height: 4vw; min-height: 20px; min-width: 20px" onclick="openNav()">
      </div>

      <div class="hide-mobile col-9 text-right">
        <div id="menubar" style="display: inline">
          <div id="Home"><a class="menubar" href="/">Home</a></div>
          <div id="Who We Are"><a class="menubar" href="/about">Who We Are</a></div>
          <div id="Projects"><a class="menubar" href="/projects">Projects</a></div>
          <div id="Resources"><a class="menubar" href="/resources">Resources</a></div>
          <div id="Get Involved"><a class="menubar" href="/join">Get Involved</a></div>
          <div id="Contact"><a class="menubar" href="/contact">Contact</a></div>
        </div>
        <!-- <p class="menubar">|</p>
        <a class="menubar" style="margin-right: 0vw" href="/404.html">fr</a> -->
      </div>
</div>

<style type="text/CSS">
  #menubar{ pointer-events: none }
  #menubar:hover .menubar{ opacity: .2 }
  #menubar > div { display: inline }
  .menubar:hover { color: black; opacity: 1 !important }
  .menubar {
    pointer-events: auto;
    font-family: Baskerville;
    text-align: left;
    background-color: inherit;
    border: none;
    display: inline;
    color: black;
    text-decoration: none;
    transition: 0.4s;
    margin-right: 3vw;
  }
  #menubold { font-family: Baskerville; display: inline; pointer-events:auto; color: black; margin-bottom: 0em; margin-right: 2.8vw; text-decoration: underline }
</style>

<script>
document.getElementById("{{ include.button }}").innerHTML = "<a id='menubold' href='/{{include.href}}'>{{ include.button }}</a>";
</script>
