<div class="row markrow pb-4 justify-content-center">
    <div class="col-lg-5 col-md-8 markcol">
      <div class="contain">
        <img src="../assets/images/bigyoshi-orange.png" style="max-width: 100%; max-height: 100%; display: block" class="image">
        <div class="mid">
            <div class="text">
                my yoshi logo
            </div>
        </div>
      </div>
      <p class="pl-2">BIG YOSHI</p>
    </div>
    <div class="col-lg-5 col-md-8 markcol">
      <div class="contain">
        <img src="../assets/images/bigyoshi-navy.png" style="max-width: 100%; max-height: 100%; display: block" class="image">
        <div class="mid">
            <div class="text">
                my yoshi logo
            </div>
        </div>
      </div>
      <p class="pl-2">BIG YOSHI BUT BLUE</p>
    </div>
</div>
