<div class="row markrow pb-4 justify-content-center">
    <div class="col markcol" style="padding: 0">
      <img src="../assets/images/bigyoshi-orange.png" style="max-width: 100%; max-height: 100%; display: block">
      <p class="pl-2">BIG YOSHI — Video</p>
    </div>
    <div class="col markcol" style="padding: 0">
      <img src="../assets/images/bigyoshi-navy.png" style="max-width: 100%; max-height: 100%; display: block">
      <p class="pl-2">BIG YOSHI BUT BLUE — Video</p>
    </div>
</div>
