---
layout: "wrapper"
title: Our Projects
permalink: /projects
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="Projects" href="projects" %}
    <div class="row align-content-end" style="padding-bottom: 8em; height: 70em; padding-left: 13vw; padding-right 13vw">
      <div class="col-10">
        <h1 class="header">Projects</h1>
      </div>
    </div>
</div>

<div class="container-fluid" style="padding-left:21vw; padding-right:21vw">
  <!-- Mission and Principles  -->
  <div class="row"><div class="col">
        <p style="padding-top: 3em; padding-bottom: 1.5em">AASDFASD ASDFLAKSH DFALSKD AAAA FLAKSDHFLAKSHDLFKASALSD AAA ASHDFASDFA SDFHASDF ASDF</p>
  </div></div>

  <!-- Project previews -->
  <div class="row" style="padding-bottom:20em">
    {% include project-preview.html shortname="hoteldieu" longname="Hotel Dieu <br> Hospital" %}
    {% include project-preview.html shortname="royalvic" longname="Royal Vic for the <br> Public Coalition" %}
    {% include project-preview.html shortname="anous" longname="À nous le Plateau <br>Citizens’ Assembly" %}
    {% include project-preview.html shortname="neighbors" longname="Neighbours Helping <br>Neighbours" %}
    {% include project-preview.html shortname="SDC" longname="La Société du Développement <br>Communautaire" %}
    {% include project-preview.html shortname="BDP" longname="Bar des Pins<br>" %}
    {% include project-preview.html shortname="mpeco" longname="Milton Parc Ecology<br> Committee" %}
    {% include project-preview.html shortname="treasure" longname="Trash 2 Treasure<br>" %}
    {% include project-preview.html shortname="kowaluk" longname="Lucia Kowaluk Park<br>" %}
    {% include project-preview.html shortname="notman" longname="Notman Gardens<br>" %}
    <p>View some of our older projects <a class="ul" href="/projects">here</a>.</p>
  </div>
</div>

<style>
  img { display: inline; max-height: 100%; max-width: 100%; min-height: 50px; min-width: 50px }
  .about-names * { font-size: 2em }
  .about-names i { font-size: 1em }
  .about-names p { padding-bottom: 2em }
</style>
