---
layout: "wrapper"
title: Approach
permalink: /approach
---


<div class='head-img container-fluid' style="background-image: url('../assets/img/Approach_Header.png'">
{% include top-bar.html %}
  <div class="row" style="margin-left:10vw; margin-right:10vw; text-align:center; height: 20rem">
    <div class="col align-self-center">
      <h1 class="mb-4">What We Do</h1>
      <p class="my-4">We're building real and virtual spaces, networks, and frameworks that will allow the study of digital media literacy to evolve. Our focus is on convening, probing, and connecting the field's greatest minds. Our activities reflect this focus.</p>
      <p style="font-size:.85rem; margin-bottom: .6rem"><a style="font-family: 'DM-Sans-R'" href="/">Participatory Applied Research</a></p>
      <p style="font-size:.85rem; margin-bottom: .6rem"><a style="font-family: 'DM-Sans-R'" href="/">The Virtual Platform</a></p>
      <p style="font-size:.85rem"><a style="font-family: 'DM-Sans-R'" href="/">Public Engagement</a></p>
    </div>
  </div>

  <div class="row" style="height:5rem"></div>
</div>

<div class="container-fluid" style="background-color: black">
  <div style="width: 100%; overflow-x: hidden; height: 27rem; position: absolute; top: 3rem" class="text-center"><p style="color: #141414; font-size: 9rem; line-height: .8; letter-spacing: .02rem">participat-<br>ory applie<br>d research</p></div>
  <div class="row" style="padding-left:20vw; padding-right:20vw; padding-top:7rem; padding-bottom:7rem">
    <div class="col">
      <h1 class="mb-4">Participatory Applied Research</h1>
      <p>Our understanding of digital media literacy in the 21st century is limited. For the benefit of students, educators, and policy makers alike—we will engage in participatory applied research to discover innovative ways to make every young person a critical user of digital media. We’ll do this in several ways:</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: var(--white)">
  <div style="width: 100%; overflow-x: hidden; height: 27rem; position: absolute; top: 3rem" class="text-center"><p style="color: #e7e7e7; font-size: 11rem; line-height: .8; letter-spacing: .02rem">a virtual<br>platform</p></div>
  <div class="row" style="padding-left:20vw; padding-right:20vw; padding-top:7rem">
    <div class="col">
      <h1 class="mb-4 bk">The Virtual Platform</h1>
      <p class="bk mb-3">Opportunities for communication, exchange and collaboration in the field of media literacy have been limited. We're building an online platform and partnerships where leading thinkers, organizations, and community members can come together to share information, insights and best practices. This will be an ongoing way to keep the community connected and coordinated beyond conferences, and beyond annual conferences and regional events.
        <br><br>The platform will be a global space for members of the field to:</p>
        <img src="../assets/icon/circles.png" alt="">
    </div>
  </div>
  <div class="row" style="padding-left:18vw; padding-right:18vw; padding-top: .5rem; padding-bottom: 7rem">
    <div class="col-4 text-left">
      <p class="bk" style="font-size:.8rem">Showcase resources and best practices</p>
    </div>
    <div class="col-4 text-center">
      <p class="bk" style="font-size:.8rem">Share relevant events and initiatives</p>
    </div>
    <div class="col-4 text-right">
      <p class="bk" style="font-size:.8rem">Offer webinars and training sessions</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: black">
  <div style="width: 100%; overflow-x: hidden; height: 27rem; position: absolute; top: 3rem" class="text-center"><p style="color: #141414; font-size: 9rem; line-height: .8; letter-spacing: .02rem">public en-<br>gagement</p></div>
  <div class="row" style="padding-left:20vw; padding-right:20vw; padding-top:7rem; padding-bottom:7rem">
    <div class="col">
      <h1 class="mb-4">Public Engagement</h1>
      <p>Finally, we’ll engage the public through a series of events, spaces and local appeals. Some of the key initiatives include:</p>
    </div>
  </div>
</div>

{% include footer.html %}
