---
layout: "wrapper"
title: Home
permalink: /
---

<div class='head-img container-fluid' style="background-image: url('../assets/img/Home_Header.png'">
  {% include top-bar.html %}

  <div class="row" style="margin-left:10vw; margin-right:10vw; text-align:center; height: 20rem">
    <div class="col align-self-center">
      <h1 class="mb-4">Discovering the future of <br>
        <span style="z-index: 1">digital media literacy.</span>
        <span style="top: 2.9rem; left: 7rem; width:24rem; background-color: var(--teal)" class="highlight"> </span>
      </h1>
      <p class="my-4">By convening the world’s educators, policymakers, industry leaders, students and youth— The McLuhan Foundation will explore and share the ways that digital media will impact us in the 21st century. We want you to join us.</p>
      <a href="/">Join Us &nbsp;&#8212;&#8212;&#8212;</a>
    </div>
  </div>

  <div class="row" style="height:5rem"></div>
</div>

<div class="container-fluid" style=" padding: 7rem 25vw; background-color: var(--white)">
  <div class="row">
    <div class="col">
      <h1 class="bk mb-4"><span style="z-index:1">Educators, young<br>
                          people, policymakers,<br>
                          and citizens are<br>
                          struggling to keep up<br>
                          with the march of<br>
                          technological progress.</span>
                          <span style="top: 1rem; left: -0.5rem; width:17.5rem; background-color: var(--yellow)" class="highlight"> </span>
                          <span style="top: 2.9rem; left: -0.5rem; width:22.5rem; background-color: var(--yellow)" class="highlight"> </span>
                          <span style="top: 4.7rem; left: -0.5rem; width:17.5rem; background-color: var(--yellow)" class="highlight"> </span>
                          <span style="top: 10.4rem; left: -0.5rem; width:24.3rem; background-color: var(--pink)" class="highlight"> </span>
                        </h1>
      <p class="bk"><span style="z-index: 1">At the McLuhan Foundation, we’re helping to <br>
        identify and build the networks to support the <br>
        critical thinking and agency that educators and <br>
        young people need.</span>
        <span style="top: 2.85rem; left: -0.5rem; width:14.5rem; background-color: var(--teal)" class="highlight"> </span>
      </p>
    </div>
  </div>
</div>

<div class='back-img container-fluid' style="background-image: url('../assets/img/Home_Blocks.png'">
  <div class="row" style="padding-left:15vw; padding-right:15vw; height: 35rem ">
    <div class="col align-self-center" style="position: relative">
      <img style="position: absolute; top: -2rem; left: -2rem; height: 12rem;" src="../assets/icon/BlueRectangle.png" alt="">
      <h2 style="color: var(--blue)" class="mb-3">A village square for the <br>world’s greatest minds.</h2>
      <p>We are reimagining digital media literacy for the 21st century—and we need the world’s greatest minds to help us do it.
        <br><br>We’re bringing educators, practitioners, industry leaders, and students together to think up new ways to empower young people with a critical perspective on digital media.</p>
        <a href="/">Participatory Research &nbsp;&#8212;&#8212;&#8212;</a>
    </div>
  </div>
</div>

<div class='back-img container-fluid' style="background-image: url('../assets/img/Home_Phone.png'">
  <div class="row" style="padding-left:15vw; padding-right:15vw; height: 35rem ">
    <div class="col align-self-center" style="position: relative">
      <img style="position: absolute; top: -2rem; left: -2rem; height: 12rem;" src="../assets/icon/PinkRectangle.png" alt="">
      <h2 style="color: var(--pink)" class="mb-3">Building global networks for <br> implementation.</h2>
      <p>We’re strengthening the world’s community of digital media literacy champions. We want to empower these educators, policymakers, and organizations to bring the solutions we discover together into classrooms, curricula, policy and programs across the globe.</p>
        <a href="/">Partnership Building &nbsp;&#8212;&#8212;&#8212;</a>
    </div>
  </div>
</div>

<div class='back-img container-fluid' style="background-image: url('../assets/img/Home_Elvis.png'">
  <div class="row" style="padding-left:15vw; padding-right:15vw; height: 35rem ">
    <div class="col align-self-center">
      <img style="position: absolute; top: -2rem; left: -2rem; height: 12rem;" src="../assets/icon/YellowRectangle.png" alt="">
      <h2 style="color: var(--yellow)" class="mb-3">Supplying our sector with the <br> knowledge of the collective.</h2>
      <p>We’re building an online platform to connect people who make digital media literacy their mission. We’ll convene virtually to share our discoveries, best practices, and critical perspectives on digital media and technology.</p>
        <a href="/">Our Virtual Network &nbsp;&#8212;&#8212;&#8212;</a>
    </div>
  </div>
</div>

<div class='back-img container-fluid' style="background-image: url('../assets/img/Home_Mirror.png'">
  <div class="row" style="padding-left:15vw; padding-right:15vw; height: 35rem ">
    <div class="col align-self-center">
      <img style="position: absolute; top: -2rem; left: -2rem; height: 12rem;" src="../assets/icon/TealRectangle.png" alt="">
      <h2 style="color: var(--teal)" class="mb-3">Going beyond content, and thinking <br> critically about the technology.</h2>
      <p>We want to expand the field’s definition of media literacy to include a greater focus on the impact of technology and media. McLuhan's probe, that the medium is the message, informs our approach.</p>
        <a href="/">About Us &nbsp;&#8212;&#8212;&#8212;</a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: var(--white)">
  <div class="row" style="padding-left:20vw; padding-right:20vw; padding-top:10rem; padding-bottom:10rem">
    <div class="col">
      <h1 class="bk mb-4">“We live invested in an electric information environment that is quite as imperceptible to us as water is to fish.”</h1>
      <p class="bk"><span style="width:22rem; background-color: var(--yellow)" class="highlight"> </span><span style="z-index:1;">Marshall McLuhan, Counterpoint (1969)</span></p>
    </div>
  </div>
</div>

{% include footer.html %}
