---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="about"%}
    <div class="row">
        <div class="col-9 header">
          <h1>My Media is a youth-run <br> creative agency for the unheard<span class='big-period' style='color:var(--dorange)'>.</span></h1>
          <h2>We work with nonprofits, social enterprises, <br> community organizations, and activist <br> groups to tell compelling stories.</h2>
        </div>
        <div class="col-3 align-self-center">
          <img src="../assets/icons/about.png" style="max-height: 100%; max-width: 100%; padding-top: 4em" class="float-right">
        </div>
    </div>
</div>

<!-- "stories make change" through to icons -->
<div class="container-fluid" style="background-color:var(--grey); position: relative; z-index: 2; padding-left: 12vw; padding-right:12vw">
      <div class="row" style="padding-top: 20em; padding-bottom: 20em">
          <h1>We know that great stories make real change.</h1>
          <h2><br> We want to help you stand out, advocate, disrupt, and grow. None of this happens by sticking to the status quo. Our job is creative innovation. Our tools are video, design, and strategy. <a class="uf ul" href="#">Our purpose is you</a>.</h2>
      </div>

      <div class="row" style="margin-bottom: 8em">
          <h1>We're all about coming up with great ideas.</h1>
      </div>
      <div class="row justify-content-between" style="padding-bottom: 20em">
        <div class="col-3 ">
          <img src="../assets/icons/icon-learn.png" style="height: 5vw; min-height: 50px; margin-left: 3em">
          <h1 class="icon-title">Learn.</h1>
          <h2 class="icon-title">We start by learning. Our creative process is rooted in research and discussion &mdash; so we can make something that is true to you. We’ll start by getting to know your org.</h2>
        </div>
        <div class="col-3 ">
          <img src="../assets/icons/icon-collab.png" style="height: 5vw; min-height: 50px; margin-left: 3em">
          <h1 class="icon-title">Collaborate.</h1>
          <h2 class="icon-title">Community is the engine of our creativity. We’ll bring the project to our team of creatives, and think through a bunch of ideas. This collaborative approach unlocks innovate creativity.</h2>
        </div>
        <div class="col-3 ">
          <img src="../assets/icons/icon-create.png" style="height: 5vw; min-height: 50px; margin-left: 3em">
          <h1 class="icon-title">Create.</h1>
          <h2 class="icon-title">We execute with precision. Once we’ve pitched you an idea that you love, our passionate team of videographers, designers, and marketers will bring it to life (with your input).</h2>
        </div>
      </div>
</div>

<div class="container-fluid" style="background-color:var(--white); padding-left: 12vw; padding-right:12vw">
  <div class="row" style="padding-top: 20em; padding-bottom: 20em"><div class="col">
      <h1>We want you to be heard.</h1>
      <h2><br> We want to work with you. Check out our work to learn more. If you're interested, just reach out! We'd love to get a discussion started.
        <br><br> <a href="/work" style="padding-right: 4em; font-family: Montserrat-S">Check out our portfolio.</a> <a style="padding-right: 4em; font-family: Montserrat-S" href="/contact">Get in touch with us.</a></h2>
  </div></div>
  <div class="row" style="padding-bottom: 5em">
      <h1>Meet the team that makes it happen.</h1>
  </div>
  <div class="row" style="padding-bottom: 5em">
      <div class="col" style="display: inline; padding-left: 0">
        <div id="filterby" style="display:inline">
          <button class="filter" onclick="clickAll()">all</button>
          <p class="filter-line">|</p>
          <button class="filter" onclick="clickVid()">executive</button>
          <button class="filter" onclick="clickWeb()">creative</button>
        </div>
      </div>
  </div>
  {% include about-profile-left.html %}
  {% include about-profile-right.html %}
  {% include about-profile-left.html %}
  {% include about-profile-right.html %}
  {% include about-profile-left.html %}
  {% include about-profile-right.html %}
  <div class="row" style="height: 15em"></div>
  {% include circle.html mobile="hide-mobile" color="lblue" size="12" top="255" left="6" z="0"%}
  {% include circle.html mobile="hide-mobile" color="dorange" size="8" top="300" left="80" z="0"%}
</div>

<style>
  h1.icon-title { font-size: 3em; margin-bottom: .7em; margin-top: .7em }
  h2.icon-title { font-size: 2em }
  img { display: inline; max-height: 100%; max-width: 100%; min-height: 50px; min-width: 50px }

  /* This is all menu things, from hover effects to general styling */
  #filterby{ pointer-events: none }
  #filterby:hover .filter{ opacity: .2 }
  #filterby:hover .filter-line{ opacity: .2 }
  .filter:hover { opacity: 1 !important }

  .filter, .filter-line {
    pointer-events: auto;
    font-family: 'Montserrat-R';
    text-align: left;
    background-color: inherit;
    border: none;
    display: inline;
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  .filter, .filter-line { font-size: 3em; margin-right: 1vw}

</style>
