---
layout: "wrapper"
---

<div class="container-fluid" style="background-color:var(--grey); height:97vh;">
  <div style="margin-left: 8vw; margin-right: 8vw">
    <div class="row markrow align-items-center justify-content-between" style="height:20vh">{% include menu.html button="about"%}</div>
    <div class="row markrow py-4 justify-content-between" style="height:57vh">
        <div class="col-10 offset-md-1 align-self-center markcol">
          <h1>My Media is a creative agency<br> for the unheard<span style='color:var(--dorange); font-size: 80px; line-height: 0.1'>.</span></h1>
          <h2>We work with nonprofits, social enterprises, community organizations, and activist groups to tell compelling stories.</h2>
        </div>
    </div>
    <!-- <div class="row markrow py-4 justify-content-between" style="height:20vh"><div class="col-xs-2 align-self-end markcol mx-4"><img src="../assets/img/logo-small.png" style="opacity: 0; height: 6vw; min-height: 50px"></div></div> -->
    {% include circle.html color="white" size="16" top="16" left="33" z="0"%}
    {% include circle.html color="black" size="3" top="35" left="16" z="0"%}
    {% include circle.html color="dorange" size="8" top="12" left="72" z="0"%}
    {% include circle.html color="navy" size="6" top="10" left="13" z="0"%}
  </div>
</div>

{% include circle.html color="dblue" size="4" top="50" left="65" z="1"%}

<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2">
  <div style="margin-left: 8vw; margin-right: 8vw">
      <div class="row markrow justify-content-start" style="height:15vw; min-height: 100px">
        <div class="col-md-10 align-self-end pt-5 markcol">
          <h3>We know that great stories make real change.</h3>
          <p>We want to help you stand out, advocate, disrupt, and grow. None of this happens by sticking to the status quo. Our job is creative innovation. Our tools are video, design, and strategy. Our <span style="text-decoration:underline">purpose is you.</span></p>
        </div>
      </div>
      <div class="row markrow justify-content-end" style="height:10vw; min-height: 100px">
        <div class="col offset-md-1 align-self-end pt-5 markcol">
          <h3>We're all about coming up with great ideas.</h3>
        </div>
      </div>
      <div class="row markrow justify-content-start">
        <div class="col-md-1 markcol" style="width:13vw"></div>
        <div class="col-1 markcol align-self-center"><img src="../assets/img/logo-small.png" style="height: 4vw; min-height: 50px"></div>
        <div class="col-8 align-self-center pt-5 mx-5 markcol">
          <h1 style="font-size:37px">Learn.</h1>
          <p>We start by learning. Our creative process is rooted in research and discussion &mdash; so we can make something that is true to you. We'll start by getting to know your organization.</p>
        </div>
      </div>
      <div class="row markrow justify-content-start">
        <div class="col-1 markcol align-self-center offset-md-1"><img src="../assets/img/logo-small.png" style="height: 4vw; min-height: 50px"></div>
        <div class="col-8 align-self-center pt-5 mx-5 markcol">
          <h1 style="font-size:37px">Collaborate.</h1>
          <p>Community is the engine of our creativity. We'll bring the project to our team of creatives, and think through a bunch of ideas. This collaborative approach unlocks innovate creativity.</p>
        </div>
      </div>
      <div class="row markrow justify-content-start">
        <div class="col-1 markcol align-self-center offset-md-1"><img src="../assets/img/logo-small.png" style="height: 4vw; min-height: 50px"></div>
        <div class="col-8 align-self-center pt-5 mx-5 markcol">
          <h1 style="font-size:37px">Create.</h1>
          <p>We execute with precision. Once we've pitched you an idea that you love, our passionate team of videographers, designers, and marketers will bring it to life (with your input).</p>
        </div>
      </div>
  </div>
</div>
