---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--lblue); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="contact"%}
    <div class="row"><div class="col-11 header" style="margin-bottom: 3em">
          <h1>Contact us<span class='big-period' style='color:var(--dorange)'>.</span></h1>
          <h2>Want to work with us? We would love to sit down and talk! Fill out the form below, or email <a class="ul uf" href="#">outreach@mymediacreative.org</a> and we’ll set something up.</h2>
    </div></div>
    <div class="row" style="padding-top: 3em; padding-bottom: 13em">
      <div class="col-1 align-self-center icon"><a href="https://www.facebook.com/mymediacreativegroup"><img src="../assets/icons/social-fb.png"></a></div>
      <div class="col-1 align-self-center icon"><a href="https://www.instagram.com/mymediacreative/"><img src="../assets/icons/social-ig.png"></a></div>
      <div class="col-1 align-self-center icon"><a href="https://www.linkedin.com/company/my-media-creative/"><img src="../assets/icons/social-li.png"></a></div>
      <div class="col-1 align-self-center icon"><a href="https://www.youtube.com/channel/UCBtnLqiba6ACrA63AHFTMUw"><img src="../assets/icons/social-yt.png"></a></div>
    </div>
    <div class="container-fluid" style="background-color:var(--white); height: 800px">
      <h1>TYPEFORM EMBED HERE</h1>
    </div>
    <div class="row" style="height:300px"></div>
</div>

<style>
  img { display: inline; max-height: 100%; max-width: 100%; min-height: 50px; min-width: 50px }
  div.icon { margin-right: 7em }

</style>
