---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--navy); height:120vh; padding-left: 8vw; padding-right:8vw; position: relative; z-index: 2">
    {% include menu-white.html button="education"%}
    <div class="row">
        <div class="col-11 offset-md-1 align-self-center ">
          <h1 class="header w">We want to help you develop creative skills through experiential learning.</h1>
          <h2 class="header w">That’s why we deliver workshops, mentorship, and hands-on learning experiences to young people who want to learn video, design, and marketing.</h2>
        </div>
    </div>
    {% include circle.html mobile="hide-mobile" color="dorange" size="40" top="20" left="20" z="0"%}
</div>

<!-- 1 2 3 -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 14vw; padding-right:14vw">
      <div class="row justify-content-end" style="padding-top: 30em">
        <div class="col-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">1 / 3</span><br><br>
            We teach <span style="color: var(--dorange);  font-size: inherit">workshops.</span></h1>
          <h2><br>Our creative team leads weekly workshops on storytelling, videography, design, and more. Check out the workshops that we’ve got coming up in the next month.</h2>
          <a href="/education"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">View our calendar.</h2></a>
        </div>
      </div>

      <div class="row" style="padding-top: 30em">
        <div class="col-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">2 / 3</span><br><br>
            We provide <span style="color: var(--dorange);  font-size: inherit">mentorship.</span></h1>
          <h2><br>We’ll connect you to one of our creatives so that you can shadow them while they work on an ongoing campaign. They can answer your questions and give you a little guidance on where to go next.</h2>
          <a href="/education"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">Get acquainted with some of our team members.</h2></a>
        </div>
      </div>

      <div class="row justify-content-end" style="padding-top: 30em; padding-bottom: 30em">
        <div class="col-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">3 / 3</span><br><br>
            You get <span style="color: var(--dorange);  font-size: inherit">hands-on experience.</span></h1>
          <h2><br>After a couple workshops and some shadowing &mdash; we'll connect you, and a couple of other learners, to an organization that needs your support. At that point, what you create is up to you (but we'll always be around to help).</h2>
          <a href="/education"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">See some of the work that our learners have put together.</h2></a>
        </div>
      </div>

      {% include circle.html mobile="hide-mobile" color="dorange" size="10" top="120" left="60" z="0"%}
      {% include circle.html mobile="hide-mobile" color="navy" size="17" top="180" left="25" z="0"%}
      {% include circle.html mobile="hide-mobile" color="lblue" size="14" top="205" left="100" z="0"%}
      {% include circle.html mobile="hide-mobile" color="lorange" size="20" top="240" left="130" z="0"%}
      {% include circle.html mobile="hide-mobile" color="navy" size="7" top="285" left="60" z="0"%}
      {% include circle.html mobile="hide-mobile" color="lblue" size="30" top="320" left="20" z="0"%}
      {% include circle.html mobile="hide-mobile" color="dorange" size="25" top="380" left="80" z="0"%}
</div>

<!-- Map box -->
<div class="container-fluid" style="background-color:var(--grey); width: 88vw; padding-left: 6vw; padding-right: 9.5vw; position: relative; z-index: 2">
  <div class="row " style="height:5vw"></div>
  <div class="row  py-5"><div class="col ">
          <h1>All of this is built around community.</h1>
  </div></div>
  <div class="row  py-5"><div class="col ">
          <h2>We know that connection and collaboration are at the essence of creativity. That's why we hold weekly community meetings at Building 21 at 6:30 pm on Thursdays. These are spaces to connect, discuss, critique, and collaborate. Come around.</h2>
  </div></div>
  <div class="row  py-5">
        <div class="col-12 "><img src="../assets/img/map.png" style="display: block; max-width: 100%; max-height: 100%;" class="image"></div>
  </div>
  <div class="row  py-5">
      <div class="col-11 ">
        <h2 class="after-map-text"><span style="font-size: 1.4em; font-family: Montserrat-S">Want more information?</span><br>
          Come to our community meeting at <a style="color: var(--dorange)" href="#">Building 21, 651 Sherbrooke St W, Montreal H3A 1E3</a>.<br>
          Check out our full <a style="color: var(--dorange)" href="/education">year long curriculum</a>.<br>
          Check out some of our <a style="color: var(--dorange)" href="#">tutorials</a> online.<br>
          Reach out to us at <a style="color: var(--dorange)" href="#">education@mymediacreative.org</a>.<br>
        </h2>
      </div>
  </div>
  <div class="row " style="height:5vw"></div>
</div>
<div class="row " style="height:15vw"></div>

<style>
  .edu-header { color: white }
  .after-map-text { line-height: 2.5 }

  h1.w { color: white }
  h2.w { color: white }
  .after-map-text { font-size: 2.5em }

  .numbered > h1 { font-size: 4.3em}
  .numbered > h2 { font-size: 2.7em}
</style>
