---
layout: "wrapper"
---

<div class="container-fluid" style="background-color:var(--white)">
  <div class="container markcon" style="height:97vh">
      <div class="row markrow align-items-center  justify-content-between" style="height:20vh">{% include menu.html %}</div>
      <div class="row markrow py-4 justify-content-between" style="height:57vh">
          <div class="col-10 offset-md-1 align-self-center markcol">
            <h2><b>My Media</b> tells stories <br>for people who move the world <b>forward</b><span class="big-period" style="color:var(--dorange)">.</span></h2>
          </div>
      </div>
      <div class="row markrow py-4 justify-content-between" style="height:20vh"><div class="col-xs-2 align-self-end markcol mx-4"><img src="../assets/img/logo-small.png" style="opacity: 0; height: 6vw; min-height: 50px"></div></div>
      {% include circle.html color="lblue" size="21" top="23" left="9" z="0"%}
  </div>
</div>

<div class="container-fluid" style="background-color:var(--dblue); position: relative; z-index: 2">
  <div class="container py-3 py-sm-5 markcon">
      <div class="row markrow mt-3 mb-4">
          <div class="col-10 offset-1 markcol">
              <h2 style="color:white">The voices fighting for justice, opportunity, and habitability need to be <b>louder</b><span class="big-period" style="color:var(--navy)">.</span></h2>
          </div>
      </div>
      <div class="row markrow my-2 my-sm-4">
          <div class="col-8 offset-1 markcol">
              <p style="color:white">The powerful and the profitable have monopolized the tools that capture our attention. We're here to reclaim those tools.</p>
          </div>
      </div>
      <div class="row markrow my-2 my-sm-4">
          <div class="col-8 offset-1 markcol">
              <p style="color:white; font-family:Montserrat-R">We build campaigns, content, brands, and websites for organizations that push, every day, for social change.</p>
          </div>
      </div>
      <div class="row markrow mt-2 mt-sm-4">
          <div class="col-8 offset-1 markcol">
              <p><a class="w text" href="https://www.youtube.com/watch?v=K5le9sYdYkM">More about us.</a></p>
          </div>
      </div>
  </div>
  {% include circle.html color="dorange" size="14" top="-10" left="70" z="1"%}
  {% include circle.html color="lorange" size="7" top="20" left="5" z="1"%}
</div>

<div class="container-fluid" style="background-color:var(--white)">
  <div class="container py-3 markcon">
      <div class="row markrow justify-content-center mb-n5" style="height:15vw; min-height: 150px">
          <div class="col align-self-center markcol">
            <h2 style="text-align:center; padding-left:1em; padding-right:1em">It looks a little something like <b>this:</b></h2>
          </div>
      </div>
      <div class="row markrow pb-4 justify-content-center">
        {% include project-preview.html type="vid" picname="bigyoshi-orange.png" logoname="my yoshi logo"%}
        {% include project-preview.html type="web" picname="bigyoshi-navy.png" logoname="my yoshi logo"%}
      </div>
      <div class="row markrow justify-content-center" style="height:15vw; min-height: 125px">
          <div class="col align-self-center markcol">
            <h2 style="text-align:center"><a class="b text" href="https://www.youtube.com/watch?v=3Yd3lQVbkYc">Check out more of our work.</a></h2>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid" style="background-color:var(--dblue)">
  <div class="container py-3 py-sm-5 markcon">
      <div class="row markrow mt-3 mb-4">
          <div class="col-10 offset-1 markcol">
              <h2 style="color:white">Every one of us has a world-changing idea— we just need to be taught how to <b>share it</b><span class="big-period" style="color:var(--dorange)">.</span></h2>
          </div>
      </div>
      <div class="row markrow my-4">
          <div class="col-8 offset-1 markcol">
              <p style="color:white">We help young people to learn creative skills in a hands-on environment through workshops, mentorship, and goal-based learning.</p>
          </div>
      </div>
      <div class="row markrow mt-4">
          <div class="col-8 offset-1 markcol">
              <p><a class="w text" href="https://www.youtube.com/watch?v=K5le9sYdYkM">Find out more about our educational programs.</a></p>
          </div>
      </div>
  </div>
</div>

{% include circle.html color="navy" size="7" top="10" left="60"%}
