---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button=""%}
    <div class="row"><div class="col-lg-9 offset-md-1" style="padding-top: 20em; padding-bottom: 15em">
          <h1 id="home-header">My Media tells stories for people who move the world forward.</h1>
    </div></div>
</div>

<!-- "The voices" through to icons -->
<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 12vw; padding-right:12vw">
      <div class="row" style="padding-top: 20em">
        <div class="col">
          <h1>The voices fighting for justice, opportunity, and habitability need to be louder.</h1>
          <h2><br>Our creative team runs campaigns, creates content, builds brands, and makes websites for organizations that want to make the world better. We're looking for people who have skills in:</h2>
        </div>
      </div>
      <div class="row justify-content-between" style="padding-top: 10em; padding-bottom: 10em">
        <div class="col"><img class="icon-skills center-block" src="../assets/icons/icon-vid.png"><h1 class="icon-title ml-4">Video.</h1></div>
        <div class="col"><img class="icon-skills center-block" src="../assets/icons/icon-des.png"><h1 class="icon-title ml-4">Design.</h1></div>
        <div class="col"><img class="icon-skills center-block" src="../assets/icons/icon-web.png"><h1 class="icon-title ml-4">Web.</h1></div>
        <div class="col"><img class="icon-skills center-block" src="../assets/icons/icon-strat.png"><h1 class="icon-title ml-4">Strategy.</h1></div>
      </div>
</div>

<!-- Portfolio preview box -->
<div class="container-fluid" style="background-color:var(--grey); width: 88vw; padding-left: 6vw; padding-right: 9.5vw">
  <div class="row" style="padding-top: 10em; padding-bottom: 5em"><h1>Our Work</h1></div>
  <div class="row pb-5">
        <div class="col-8 ">
          <div class="contain">
            <a href="./divest.html"><img src="../assets/img/SOMM.png" style="display: block" class="image"></a>
            <div class="mid"> <div class="text"> my yoshi logo </div> </div>
          </div>
        </div>
        <div class="col-4 px-5 align-self-end">
          <a href="./divest.html"><h1 class="py-3 thumbnail-title">The School of Music Montreal</h1></a>
          <h3 class="thumbnail-title pb-5"">video</h3>
          <a href="./divest.html"><img class="arrow" src="../assets/icons/icon-arrow.png"></a>
        </div>
  </div>
  <div class="row py-5">
        <div class="col-8 ">
          <div class="contain">
            <a href="./divest.html"><img src="../assets/img/Indigirecruit.png" style="display: block" class="image"></a>
            <div class="mid"> <div class="text">  my yoshi logo </div> </div>
          </div>
        </div>
        <div class="col-4 px-5 align-self-end">
          <a href="./divest.html"><h1 class="py-3 thumbnail-title">IndigIrecruit</h1></a>
          <h3 class="thumbnail-title pb-5"">brand</h3>
          <a href="./divest.html"><img class="arrow" src="../assets/icons/icon-arrow.png"></a>
        </div>
  </div>
  <h2 style="padding-bottom: 4em">Check out the rest of our portfolio <a class="ul" href="/work">here</a>.</h2>
</div>

<!-- "World changing" through to "Contact us" CTAs -->
<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 14vw; padding-right:14vw">
      <div class="row" style="height:32vw; min-height: 100px; margin-top: 30em">
        <div class="col-7 align-self-start">
          <h1>Every one of us has a world-changing idea to share, we just need to learn how.</h1>
        </div>
        <div class="col-5 align-self-end">
          <h2>We help young people to learn creative skils in a hands-on environment tthrough workshops, mentorship, and goal-based learning.</h2>
          <a href="/education"><h2 style="margin-top: 1.3em; font-family: Montserrat-S">Find out more about our educational programs.</h2></a>
        </div>
      </div>
      <div class="row" style="padding-top: 25em; padding-bottom: 7em">
        <div class="col align-self-start ">
          <h1>We want to hear from you!</h1>
        </div>
      </div>
      <div class="row align-items-start justify-content-between">
        <div class="col-5">
          <h2 style="color: var(--dorange); font-family: Montserrat-S">Interested in our services?</h2>
        </div>
        <div class="col-7">
          <h2>Do you create an impact with your work? Want to run a campaign? Build content or a brand? Let's start chatting about your project. Contact us <a class="ul" href="/contact">here</a>.</h2>
        </div>
      </div>
      <div class="row align-items-start justify-content-between" style="padding-top: 10em; padding-bottom: 25em">
        <div class="col-5 ">
          <h2 style="color: var(--dorange); font-family: Montserrat-S">Want to join our team?</h2>
        </div>
        <div class="col-7 ">
          <h2>Whether you want to run a campaign for your org, join our team, take part in a learning program, or anything else &mdash; we would love to chat! Contact us <a class="ul" href="/contact">here</a>.</h2>
        </div>
      </div>
</div>

<div class="col-3" style="padding-top:8em">
  <h4 style="text-align:right">It is <span id="hour"></span>:<span id="min"></span> <span id="ampm"></span> <br>
                              <span id="day"></span> <span id="mon"></span> <span id="date"></span>.<br>
                              <a class="ul" href="about">help/about.</a><br><a class="ul" href="/">home.</a></h4>
</div>

<script src="../assets/js/time.js"></script>
<script language="JavaScript">setTime()</script>
<style>span { font-size: inherit; }</style>


<style>
  .arrow { height: 2.7vw; min-height: 25px }
  .icon-skills { height: 5.5vw; min-height: 50px; margin-left: 1em; margin-bottom: 1em }
  h1.thumbnail-title {
    text-align: left;
    color: black;
    margin-bottom: 0
  }
  h3.thumbnail-title { text-align: left }

  /* This is ugly but it's what gives the hover logo effect */

  .contain { position: relative }
  .contain:hover .image { opacity: 0.1 }
  .contain:hover .mid { opacity: 1 }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .6s ease;
    transition-delay: .1s;
    backface-visibility: hidden;
  }
  .mid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .hideThumbnail { display: none }
  .icon-title { font-size: 3em }
  #home-header { font-size: 9em }
</style>

{% include footer.html %}
