---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="jobs"%}
    <div class="row justify-content-start">
        <div class="col-9 align-self-center ">
          <h1 class="header r">My Media is on the hunt for passionate creative people.</h1>
          <h2 class="header r">Do you want to work with impactful organizations? Use and grow your skills? Build your network and <br> portfolio? Get paid?</h2>
        </div>
    </div>
    {% include circle.html color="white" size="7" top="14" left="13" z="0"%}
    {% include circle.html color="black" size="3" top="10" left="69" z="0"%}
    {% include circle.html color="dorange" size="20" top="40" left="65" z="0"%}
</div>

<!-- "The voices" through to icons -->
<div class="container-fluid" style="background-color:var(--grey); position: relative; z-index: 2; padding-left: 12vw; padding-right:12vw">
      <div class="row"><div class="col" style="padding-top: 20em; padding-bottom: 10em">
          <h1>We want people to join our creative team.</h1>
          <h2><br>Our creative team runs campaigns, creates content, builds brands, and makes websites for organizations that want to make the world better. We're looking for people who have skills in:</h2>
        </div>
      </div>
      <div class="row justify-content-between" style="padding-bottom: 20em">
        <div class="col "><img src="../assets/icons/logo-small.png" style="height: 5.5vw; min-height: 50px"><h1 class="icon-title ml-4">Video.</h1></div>
        <div class="col "><img src="../assets/icons/logo-small.png" style="height: 5.5vw; min-height: 50px"><h1 class="icon-title ml-4">Design.</h1></div>
        <div class="col "><img src="../assets/icons/logo-small.png" style="height: 5.5vw; min-height: 50px"><h1 class="icon-title ml-4">Web.</h1></div>
        <div class="col "><img src="../assets/icons/logo-small.png" style="height: 5.5vw; min-height: 50px"><h1 class="icon-title ml-4">Strategy.</h1></div>
      </div>
</div>

<!-- Bullets through to Typeform embed -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 12vw; padding-right:12vw">
      <div class="row"><div class="col" style="padding-top: 20em; padding-bottom: 20em">
          <h1 style="margin-bottom: .7em">You should join our creative team if you:</h1>
          <ul>
            <li><h2>Want to have an impact.</h2></li>
            <li><h2>Want to be part of a supportive community.</h2></li>
            <li><h2>Want to get paid.</h2></li>
            <li><h2>Want to develop your craft.</h2></li>
            <li><h2>Want to build your portfolio.</h2></li>
            <li><h2>Want to expand your network.</h2></li>
          </ul>
      </div></div>

      <div class="row"><div class="col">
          <h1 style="margin-bottom: 1em">If you're interested, it's easy.</h1>
          <h2 style="margin-bottom: 1.5em">Just fill out the form below or email <a class="ul" href="#">outreach@mymediacreative.org</a>.</h2>
          <h1>TYPEFORM EMBED HERE</h1>
      </div></div>
</div>

<style>
  .r { text-align: right }

  ul { list-style: none; line-height: 2 }
  ul h2 { display: inline }
  ul li::before {
     content: "\2022";  /* \2022 is the CSS Code/unicode for a bullet */
     color: var(--dorange);
     display: inline-block; /* Needed to add space between the bullet and the text */
     width: 1.5em; /* Spacing between bullet and text */
     font-size: 3em;
  }
</style>

{% include footer.html %}
