---
layout: "wrapper"
---

<!-- Header -->

<div class="container-fluid" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="Home" href="" %}
    <!-- need higher rez image here -->
    <img src="../assets/img/headerimg.png" style="display:inline">
    <div class="row justify-content-center" style="padding-bottom: 8em">
      <div class="col-10">
        <h1 class="r" id="home-header">Comité des Citoyen(ne)s Milton Parc</h1>
        <h1 class="b" id="home-header">Milton Parc Citizen’s Committee</h1>
      </div>
    </div>
</div>

<div class="container-fluid" style="padding-left:21vw; padding-right:21vw">
  <div class="row" style="padding-bottom: 8em"><div class="col-10">
      <h1 class="header">Contact Us</h1>
  </div></div>

  <!-- Contacting  -->
  <div class="row" style="padding-bottom: 5em; padding-top: 10em"><div class="col">
        <h2 class="b">Here are some ways to get in touch with us:</h2>
  </div></div>

  <div class="row" style="padding-top: 5em">
   <div class="col-1"><img class="icon" src="../assets/icons/phone.png"></div>
   <div class="col-10"><p class="icon">514 842 7432</p></div>
  </div>

  <div class="row" style="padding-top: 5em">
   <div class="col-1"><img class="icon" src="../assets/icons/phone.png"></div>
   <div class="col-10"><p class="icon">514 842 7432</p></div>
  </div>

  <div class="row" style="padding-top: 5em">
   <div class="col-1"><img class="icon" src="../assets/icons/phone.png"></div>
   <div class="col-10"><p class="icon">514 842 7432</p></div>
  </div>

  <div class="row" style="padding-top: 5em">
   <div class="col-1"><img class="icon" src="../assets/icons/phone.png"></div>
   <div class="col-10"><p class="icon">514 842 7432</p></div>
  </div>

  <!-- Become a member -->
  <div class="row" style="padding-bottom: 5em; padding-top: 10em"><div class="col">
        <h2 class="b">Become a member</h2>
  </div></div>

  <div class="row" style="background-color: var(--grey); height: 80em; margin-bottom: 20em">
    <div class="col-12"><p style="text-align:center">form goes here</p>
    </div>
  </div>
</div>

<style>
  img { display: inline; max-height: 100%; max-width: 100%; min-height: 50px; min-width: 50px }
  img.icon { height: 3vw }
  p.icon { padding-top: 3em; padding-bottom: 1.5em; display: inline }
</style>
