---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button=""%}
    <div class="row"><div class="col-lg-9" style="padding-top: 5em; padding-bottom: 5em">
      <h1 class="home-header">Divest McGill<span style="color:var(--dorange)" class="big-period">.</span></h1>
      <p class="home-header">video + website</p>
    </div></div>

    <div class="row"><div class="col-12">
      <img src="../assets/img/Divest/divest-header.png">
    </div></div>

    <div class="row"><div class="col-6 offset-md-3" style="padding-top:15em; padding-bottom:15em">
      <h1 style="color: var(--dorange); font-size: 3.2em; padding-bottom: .3em">Project</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque erat nibh, ut elementum elit pretium id. Vestibulum urna elit, fringilla eget aliquam eu, commodo placerat magna. Ut convallis risus et felis laoreet, a suscipit dui congue. Cras malesuada eros sed purus mollis, ut condimentum purus congue. Etiam lorem tortor, maximus eu lacus id.</p>
    </div></div>

    <div class="row"><div class="col-12">
      <img src="../assets/img/Divest/divest-video.png">
    </div></div>

    <div class="row"><div class="col-6 offset-md-4" style="margin-top:15em; margin-bottom:15em">
      <h1 style="color: var(--dblue); font-size: 3.2em; padding-bottom: .3em">Impact</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque erat nibh, ut elementum elit pretium id. Vestibulum urna elit, fringilla eget aliquam eu, commodo placerat magna. Ut convallis risus et felis laoreet, a suscipit dui congue. Cras malesuada eros sed purus mollis, ut condimentum purus congue. Etiam lorem tortor, maximus eu lacus id.</p>
    </div></div>

    <div class="row"><div class="col-12" style="margin-bottom:15em">
      <img src="../assets/img/Divest/divest-web1.png">
    </div></div>

    <div class="row"><div class="col-6 offset-md-2" style="margin-bottom:15em">
      <h1 style="color: var(--dblue); font-size: 3.2em; padding-bottom: .3em">Web Design</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque erat nibh, ut elementum elit pretium id. Vestibulum urna elit, fringilla eget aliquam eu, commodo placerat magna. Ut convallis risus et felis laoreet, a suscipit dui congue. Cras malesuada eros sed purus mollis, ut condimentum purus congue. Etiam lorem tortor, maximus eu lacus id.</p>
      <h1 style="color: var(--navy); font-size: 3.2em; padding-top: .3em"><a style="color: var(--navy)" href="https://www.divestmcgill.com">divestmcgill.com</a></h1>
    </div></div>

    <div class="row"><div class="col-12" style="margin-bottom:20em">
      <img src="../assets/img/Divest/divest-web2.png">
    </div></div>
    {% include circle.html mobile="hide-mobile" color="lorange" size="6" top="70" left="6" z="0"%}
    {% include circle.html mobile="hide-mobile" color="dorange" size="6" top="30" left="93" z="0"%}
    {% include circle.html mobile="hide-mobile" color="dblue" size="21" top="170" left="75" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lorange" size="15" top="390" left="18" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lblue" size="15" top="560" left="81" z="0"%}
</div>

<style>
  h1.home-header { font-size: 9em }
  p.home-header { font-size: 4em }
  img { display: inline; max-width: 100%; max-height: 100%; background-color: var(--grey) }
</style>
