---
layout: "wrapper"
---

<div class="container-fluid" style="position: relative; z-index: 2; background:transparent url('../assets/img/bigyoshi-orange.png') no-repeat center center /cover">
  <div class="container markcon" style="height:40vw">
      <div class="row markrow align-items-center justify-content-between" style="height:20vh">{% include menu-white.html button="work"%}</div>
      <div class="row markrow py-4 justify-content-between" style="height:40vh">
          <div class="col-10 offset-md-1 align-self-center markcol">
            <h1>this is {{ page.title }}</h1>
          </div>
      </div>
      <div class="row markrow py-4 justify-content-between" style="height:20vh"><div class="col-xs-2 align-self-end markcol mx-4"><img src="../assets/img/logo-small.png" style="opacity: 0; height: 6vw; min-height: 50px"></div></div>
  </div>
</div>

<div class="container-fluid" style="background-color:var(--white)">
  <div class="container markcon">
    <div class="row markrow" style="height: 18vw">
      <div class="col-10 offset-md-1 align-self-center markcol">
        <h1>&ldquo;Paid by McGill&rdquo;</h1>
      </div>
    </div>
    {% include circle.html color="dblue" size="20" top="50" left="24" z="0"%}
    <div class="row markrow pb-5">
      <div class="col-9 offset-md-3 markcol">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
    </div>
    <div class="row markrow">
      <div class="col-12 markcol" style="height:40vw">
        <object data='https://www.youtube.com/embed/RPCaTZSpp8o' style="position:absolute; z-index:2" width='100%' height='100%'></object>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color:var(--white)">
  <div class="container markcon">
    <div class="row markrow pt-3" style="height: 18vw">
      <div class="col-md-7 offset-md-4 align-self-center markcol">
        <h1 style="text-align: right">The Website</h1>
      </div>
    </div>
    {% include circle.html color="lblue" size="20" top="140" left="70" z="0"%}
    {% include circle.html color="lorange" size="20" top="190" left="10" z="0"%}
    <div class="row markrow">
      <div class="col-md-7 markcol">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
    </div>
    <div class="row markrow justify-content-center text-center" style="height:25vw">
      <div class="col-12 markcol align-self-center">
        <a style="font-size:70px; text-decoration: underline; color: black; text-align:center; font-family:Montserrat-R" target="_blank" href="https://www.divestmcgill.com">divestmcgill.com</a>
      </div>
    </div>
  </div>
</div>
