---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw; position: relative; overflow: hidden;">
    {% include menu.html button="work"%}
    <div class="row justify-content-start">
        <div class="col-9 offset-md-1 align-self-center ">
          <h1 class="header">Our work is tied together by two things: <span style='color:var(--lorange); font-size: inherit'>passion</span> and <span style='color:var(--lorange); font-size: inherit'>care.</span></h1>
          <h2 class="header">That’s the common thread between every campaign, brand, website, and piece of content. It’s what makes My Media what it is. Take a look.</h2>
        </div>
    </div>
    {% include circle.html mobile="hide-mobile" color="dblue" size="30" top="10" left="-15" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lblue" size="35" top="17" left="90" z="0"%}
    {% include circle.html mobile="hide-mobile" color="white" size="28" top="-20" left="180" z="0"%}
    {% include circle.html mobile="hide-mobile" color="dorange" size="15" top="90" left="20" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lorange" size="20" top="100" left="110" z="0"%}
    {% include circle.html mobile="hide-mobile" color="navy" size="10" top="60" left="160" z="0"%}
</div>

<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 13vw; padding-right:13vw">
      <div class="row " style="height:5vw; min-height: 100px"></div>
      <div class="row  justify-content-end" style="height:10vw; min-height: 100px">
        <div class="col align-self-end ">
          <h1>Our Portfolio</h1>
        </div>
      </div>
      <div class="row  justify-content-center mb-3" style="height:6vw; min-height: 100px">
          <div class="col align-self-center " style="display:inline">
            <div id="filterby" style="display:inline">
              <button class="filter" onclick="clickAll()">all</button>
              <p class="filter-line">|</p>
              <button class="filter" onclick="clickVid()">video</button>
              <button class="filter" onclick="clickWeb()">web</button>
              <button class="filter" onclick="clickDes()">brand</button>
              <button class="filter" onclick="clickDes()">social media</button>
            </div>
          </div>
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" fullname="The School of Music Montreal" shortname="SOMM"%}
        {% include project-preview.html type="web" fullname="IndigIrecruit" shortname="indigirecruit"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" fullname="Thrive Collective" shortname="thrive"%}
        {% include project-preview.html type="web" fullname="Divest McGill" shortname="divest"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" fullname="Third Culture Collective" shortname="TCC"%}
        {% include project-preview.html type="web" fullname="Black Students Network" shortname="BSN"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" fullname="Youth Impact Challenge" shortname="YIC"%}
        {% include project-preview.html type="web" fullname="MealCare National" shortname="mealcare"%}
      </div>
      <div class="row " style="height:20vh"></div>
</div>

<style>
  /* This is all menu things, from hover effects to general styling */
  #filterby{ pointer-events: none }
  #filterby:hover .filter{ opacity: .2 }
  #filterby:hover .filter-line{ opacity: .2 }
  .filter:hover { opacity: 1 !important }

  .filter, .filter-line {
    pointer-events: auto;
    font-family: 'Montserrat-R';
    text-align: left;
    background-color: inherit;
    border: none;
    display: inline;
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  .filter, .filter-line { font-size: 3em; margin-right: 1vw }
</style>

<script src="../assets/js/filter.js"></script>
