---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="work"%}
    <div class="row justify-content-start">
        <div class="col-8 offset-md-1 align-self-center ">
          <h1 class="header">My Media tells stories that get results<span class='big-period' style='color:var(--lorange)'>.</span></h1>
          <h2 class="header">We use campaigns, content, and design to help you grow, engage others, and express your mission. Our focus is your (measurable) success.</h2>
        </div>
    </div>
    {% include circle.html color="dblue" size="30" top="25" left="-15" z="0"%}
    {% include circle.html color="lblue" size="35" top="17" left="70" z="0"%}
    {% include circle.html color="white" size="7" top="14" left="13" z="0"%}
    {% include circle.html color="dorange" size="7" top="14" left="13" z="0"%}
    {% include circle.html color="lorange" size="7" top="14" left="13" z="0"%}
    {% include circle.html color="navy" size="3" top="10" left="69" z="0"%}
</div>

<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 13vw; padding-right:13vw">
      <div class="row " style="height:5vw; min-height: 100px"></div>
      <div class="row  justify-content-end" style="height:10vw; min-height: 100px">
        <div class="col align-self-end ">
          <h1>Our Portfolio</h1>
        </div>
      </div>
      <div class="row  justify-content-center mb-3" style="height:6vw; min-height: 100px">
          <div class="col align-self-center " style="display:inline">
            <div id="filterby" style="display:inline">
              <button class="filter" onclick="clickAll()">all</button>
              <p class="filter-line">|</p>
              <button class="filter" onclick="clickVid()">video</button>
              <button class="filter" onclick="clickWeb()">web</button>
              <button class="filter" onclick="clickDes()">brand</button>
              <button class="filter" onclick="clickDes()">social media</button>
            </div>
          </div>
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" name="The School of Music Montreal" picname="SOMM.png" logoname="my yoshi logo"%}
        {% include project-preview.html type="web" name="IndigIrecruit" picname="Indigirecruit.png" logoname="my yoshi logo"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" name="Thrive Collective" picname="Thrive.png" logoname="my yoshi logo"%}
        {% include project-preview.html type="web" name="Divest McGill" picname="Divest.png" logoname="my yoshi logo"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" name="Third Culture Collective" picname="TCC.png" logoname="my yoshi logo"%}
        {% include project-preview.html type="web" name="Black Students Network" picname="BSN.png" logoname="my yoshi logo"%}
      </div>
      <div class="row  py-5 justify-content-between">
        {% include project-preview.html type="vid" name="Youth Impact Challenge" picname="YIC.png" logoname="my yoshi logo"%}
        {% include project-preview.html type="web" name="MealCare National" picname="Mealcare.png" logoname="my yoshi logo"%}
      </div>
      <div class="row " style="height:20vh"></div>
</div>

<style>
  /* This is all menu things, from hover effects to general styling */
  #filterby{ pointer-events: none }
  #filterby:hover .filter{ opacity: .2 }
  #filterby:hover .filter-line{ opacity: .2 }
  .filter:hover { opacity: 1 !important }

  .filter, .filter-line {
    pointer-events: auto;
    font-family: 'Montserrat-R';
    text-align: left;
    background-color: inherit;
    border: none;
    display: inline;
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  .filter, .filter-line { font-size: 3em; margin-right: 1vw }
</style>

{% include footer.html %}

<script src="../assets/js/filter.js"></script>
